{% extends 'AbleSpecAdminBundle::base.html.twig' %}

{% block body -%}
    <h3>{% trans %}Payment list{% endtrans %}</h3>

    <table class="table table-striped records_list">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Status{% endtrans %}</th>
                <th>{% trans %}Amount{% endtrans %}</th>
                <th>{% trans %}Transaction code{% endtrans %}</th>
                <th>{% trans %}Description{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('payment_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.amount }}</td>
                <td>{{ entity.transactionCode }}</td>
                <td>{{ entity.description }}</td>
                <td>
                <ul class="nav nav-pills">
                    <li>
                        <a href="{{ path('payment_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('payment_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul class="nav nav-pills">
        <li class="active">
            <a href="{{ path('payment_new') }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
